/* line 1, HoboBrain/static/SCSS/history.scss */
main {
  display: flex;
  flex-direction: column;
  align-items: center; }
  /* line 6, HoboBrain/static/SCSS/history.scss */
  main #mainContent {
    width: 100%;
    display: flex;
    justify-content: space-around; }
    /* line 12, HoboBrain/static/SCSS/history.scss */
    main #mainContent section h2 {
      font-size: 28px; }
    /* line 15, HoboBrain/static/SCSS/history.scss */
    main #mainContent section table {
      text-align: left; }
      /* line 18, HoboBrain/static/SCSS/history.scss */
      main #mainContent section table th, main #mainContent section table td {
        padding-right: 50px;
        font-size: 20px; }
