@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");
@font-face {
  font-family: NeutraText;
  src: url(/static/fonts/NeutraText-BoldAlt.otf); }

/* line 12, HoboBrain/static/SCSS/loginforms.scss */
main {
  display: flex;
  flex-direction: column;
  text-align: center; }
  /* line 18, HoboBrain/static/SCSS/loginforms.scss */
  main form button {
    background-color: #92d051;
    color: #efefef;
    border: none;
    font-size: 18px;
    padding: 5px 10px; }
    /* line 25, HoboBrain/static/SCSS/loginforms.scss */
    main form button:hover {
      background-color: #82b64b;
      cursor: pointer; }
  /* line 33, HoboBrain/static/SCSS/loginforms.scss */
  main p a {
    text-decoration: none;
    color: #efefef;
    font-family: "Montserrat", sans-serif;
    font-weight: bold; }
