@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");
@font-face {
  font-family: NeutraText;
  src: url(/static/fonts/NeutraText-BoldAlt.otf); }

/* line 12, HoboBrain/static/SCSS/profile.scss */
main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  /* line 18, HoboBrain/static/SCSS/profile.scss */
  main h1 {
    margin-bottom: 0; }
  /* line 22, HoboBrain/static/SCSS/profile.scss */
  main #sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%; }
    /* line 27, HoboBrain/static/SCSS/profile.scss */
    main #sections section {
      display: flex;
      flex-direction: column;
      align-items: center; }
      /* line 37, HoboBrain/static/SCSS/profile.scss */
      main #sections section#pRight button {
        background-color: #92d051;
        color: #444444;
        border: none;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        padding: 5px 10px; }
