@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@font-face {font-family: NeutraText; src: url(../fonts/NeutraText-BoldAlt.otf)}

$lime: #92d051;
$blue: #5b9bd5;
$dark: #444444;
$white: #efefef;

$parafont: "Montserrat", sans-serif;
$titlefont: NeutraText;

main {
    display: grid;
    grid-template-columns: 1fr 1fr;

    #details {
        padding: 10% 50px;

        h1 {
            font-size: 48px;
        }

        p {
            font-size: 22px;
        }

        #genres {
            display: flex;
            gap: 20px;

            .genre {
                background-color: $blue;
                padding: 5px 10px;
                border-radius: 10px;
                width: fit-content;
                font-size: 22px;
                margin: 10px 0;
            }
        }

        #play {
            background-color: $lime;
            color: $dark;
            text-decoration: none;
            padding: 7px 17px;
            font-size: 26px;
        }
    }

    #idkright {
        display: flex;
        justify-content: center;
    }
}