<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            HoBo
        {% endblock %}
    </title>
    {% load static %}
    {% load compress %}
    {% compress css %}
        <link rel="stylesheet" href="{%static 'SCSS/global.scss' %}" type="text/x-scss">
    {% endcompress %}
    <script src="https://kit.fontawesome.com/9ce9532b81.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{% static "Img/LeafyFavicon.png" %}">
</head>
<body>
    <header>
        <nav>
            
        </nav>
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
</body>
</html>
