<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} HoBo {% endblock %}
    </title>
    {% load static %}
    {% load compress %}
    {% compress css %}
        <link rel="stylesheet" href="{%static 'SCSS/global.scss' %}" type="text/x-scss">
    {% endcompress %}

    {% block scss %}{% endblock %}
    <script src="https://kit.fontawesome.com/9ce9532b81.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{% static "Pics/HOBO_Beeldmerk.png" %}">
    <script src="{% static './js-script/index.js' %}" defer></script>
</head>
<body>
    <header> 
        <nav>
            <img src="{% static "Pics/HOBO_logo.png" %}" alt="Logo" id="logo">
            <a href="{% url 'homepage' %}">HOME</a>
            <a href="{% url 'search' %}">CONTENT</a>
            <a href="{% url 'history' %}">HISTORY</a>
        </nav>
        <section id="navR">
            <a href="{% url 'search' %}">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}">
                    <p>Profile</p>
                    <i class="fa-solid fa-user" id="profile"></i>
                </a>
            {% else %} 
                <a href="{% url 'inloggen' %}">
                    <p>Inloggen</p>
                    <i class="fa-solid fa-user" id="profile"></i>
                </a>
            {% endif %}
        </section>
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>
        <p>© 2024 HOBO Media Company, All rights reserved</p>
    </footer>
</body>
</html>
