{% extends "base.html" %} 

{% block title %} Homepage ~ HoBo {% endblock %}

{% block scss %}
    {% load static %}
    {% load compress %}
    {% compress css %}
            <link rel="stylesheet" href="{%static 'SCSS/homepage.scss' %}" type="text/x-scss">
    {% endcompress %}
{% endblock %}

{% block content %}
<section id="top-section">
    <button id="play"><i class="fa-solid fa-play"></i> Play</button>
    <button id="info"><i class="fa-solid fa-info"></i> More Info</button>
</section>
<section id="bottom-section">
    <h3>Recently Watched</h3>
    <div></div>
    <h3>Trending</h3>
    <div></div>
    <h3>Editor's Pick</h3>
    <div></div>
</section>
{% endblock %}