{% extends "base.html" %} 

{% block title %} Homepage ~ HoBo {% endblock %}

{% block scss %}
    {% load static %}
    {% load compress %}
    {% compress css %}
            <link rel="stylesheet" href="{%static 'SCSS/homepage.scss' %}" type="text/x-scss">
    {% endcompress %}
{% endblock %}

{% block content %}
<section id="top-section">
    <button id="play"><i class="fa-solid fa-play"></i> Play</button>
    <button id="info"><i class="fa-solid fa-info"></i> More Info</button>
</section>
<section id="bottom-section">
    <section id="Recent">
        <h3>Recently Watched</h3>
        <div class="carousel">
            <div class="carousel-inner" id="carousel-inner">
              <div class="carousel-item">Slide 1</div>
              <div class="carousel-item">Slide 2</div>
              <div class="carousel-item">Slide 3</div>
              <div class="carousel-item">Slide 4</div>
              <div class="carousel-item">Slide 5</div>
              <div class="carousel-item">Slide 6</div>
              <div class="carousel-item">Slide 7</div>
              <div class="carousel-item">Slide 8</div>
              <div class="carousel-item">Slide 9</div>
              <div class="carousel-item">Slide 10</div>
            </div>
            <div class="shadow"></div>
            <div class="carousel-controls">
                <a onclick="carouselRecent(-1)"><i class="fa-solid fa-angle-left"></i></a>
                <a onclick="carouselRecent(1)"><i class="fa-solid fa-angle-right"></i></a>
            </div>
        </div>
    </section>
    <section id="Trending">
        <h3>Trending</h3>
        <div class="carousel">
            <div class="carousel-inner" id="carousel-inner2">
              <div class="carousel-item">Slide 1</div>
              <div class="carousel-item">Slide 2</div>
              <div class="carousel-item">Slide 3</div>
              <div class="carousel-item">Slide 4</div>
              <div class="carousel-item">Slide 5</div>
              <div class="carousel-item">Slide 6</div>
              <div class="carousel-item">Slide 7</div>
              <div class="carousel-item">Slide 8</div>
              <div class="carousel-item">Slide 9</div>
              <div class="carousel-item">Slide 10</div>
            </div>
            <div class="shadow"></div>
            <div class="carousel-controls">
                <a onclick="carouselTrending(-1)"><i class="fa-solid fa-angle-left"></i></a>
                <a onclick="carouselTrending(1)"><i class="fa-solid fa-angle-right"></i></a>
            </div>
        </div>
    </section>
    <section id="Editor">
        <h3>Editor's Pick</h3>
        <div class="carousel">
            <div class="carousel-inner" id="carousel-inner3">
              <div class="carousel-item">Slide 1</div>
              <div class="carousel-item">Slide 2</div>
              <div class="carousel-item">Slide 3</div>
              <div class="carousel-item">Slide 4</div>
              <div class="carousel-item">Slide 5</div>
              <div class="carousel-item">Slide 6</div>
              <div class="carousel-item">Slide 7</div>
              <div class="carousel-item">Slide 8</div>
              <div class="carousel-item">Slide 9</div>
              <div class="carousel-item">Slide 10</div>
            </div>
            <div class="shadow"></div>
            <div class="carousel-controls">
                <a onclick="carouselEditor(-1)"><i class="fa-solid fa-angle-left"></i></a>
                <a onclick="carouselEditor(1)"><i class="fa-solid fa-angle-right"></i></a>
            </div>
        </div>
    </section>
    <ul>
        {% for item in series_with_images %}
            <li>
                SerieID: {{ item.serie.serieid }}, Title: {{ item.serie.serietitel }}
                <img src="{% static 'Pics/images/' %}{{ item.image_name }}" alt="Image for {{ item.serie.serietitel }}">
            </li>
        {% empty %}
            <li>No active series found.</li>
        {% endfor %}
    </ul>
</section>
{% endblock %}