{% extends "base.html" %} {% block title %}Inloggen ~ HoBo {% endblock %}

{% block scss %}
    {% load static %}
    {% load compress %}
    {% compress css %}
            <link rel="stylesheet" href="{%static 'SCSS/loginforms.scss' %}" type="text/x-scss">
    {% endcompress %}
{% endblock %}

{% block content %}
    <h1>Inloggen</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Inloggen</button>
    </form>
    <p>New to HOBO? <a href="{% url 'registreren' %}">Sign up now!</a></p>
{% endblock %}