{% extends "base.html" %} {% block title %} Profile ~ HoBo {% endblock %}

{% block scss %}
    {% load static %}
    {% load compress %}
    {% compress css %}
            <link rel="stylesheet" href="{%static 'SCSS/profile.scss' %}" type="text/x-scss">
    {% endcompress %}
{% endblock %}

{% block content %}
    <h1>Profile</h1>
    <h2>Welkom *username*!</h2>
    <section id="sections">
        <section id="pLeft">
            <p>Username aanpassen</p>
            <p>email aanpassen</p>
            <p>wachtwoord aanpassen</p>
        </section>
        <section id="pRight">
            <p>abonnement aanpassen</p>
            <p>genre aanpassen</p>
            <button>Uitloggen</button>
        </section>
    </section>
{% endblock %}