{% extends "base.html" %} {% block title %}Registreren ~ HoBo {% endblock %}

{% block scss %}
    {% load static %}
    {% load compress %}
    {% compress css %}
            <link rel="stylesheet" href="{%static 'SCSS/loginforms.scss' %}" type="text/x-scss">
    {% endcompress %}
{% endblock %}

{% block content %}
    <h1>Registreren</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="voornaam">Username/Voornaam:</label><br>
        <input type="text" id="voornaam" name="voornaam" required><br><br>

        <label for="tussenvoegsel">Tussenvoegsel:</label><br>
        <input type="text" id="tussenvoegsel" name="tussenvoegsel"><br><br>

        <label for="tussenvoegsel">Achternaam:</label><br>
        <input type="text" id="achternaam" name="achternaam" required><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="aboID">aboID:</label><br>
        <select id="aboID" name="aboId" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select><br><br>

        <label for="genre">Preferred Genre:</label><br>
        <select id="genre" name="genre" required>
            <option value="1">One genre</option>
            <option value="2">Second genre</option>
            <option value="3">Third genre</option>
        </select><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Register</button>
    </form>

{% endblock %}