{% extends "base.html" %} {% block title %}Stream Info ~ HoBo {% endblock %}

{% block scss %}
    {% load static %}
    {% load compress %}
    {% compress css %}
            <link rel="stylesheet" href="{%static 'SCSS/detail.scss' %}" type="text/x-scss">
    {% endcompress %}
{% endblock %}

{% block content %}
    <section id="details">
        <h1>{{serie.serietitel}}</h1>
        <p class="desc">{{ imbdlink }}</p>
        <section id="genres">
            {% for genre in genres %}
                <p class="genre">{{ genre }}</p>
            {% endfor %}
        </section>
        <br><br>
        <a href="#" id="play"><i class="fa-solid fa-play"></i> Play</a>
    </section>
    <section id="idkright">
        <img src="{% static 'Pics/images/' %}{{ image_name }}">
    </section>
{% endblock %}